.cont{
    background-color: grey;
    
}

.contcont{
    margin: auto;
    width: 80%;
    border: 3px; 
    padding: 10px;
}

.friendModal {
    position: absolute;
      width: 800;
      border: '2px solid #000';
      background-color: white;
  }